USE [master]
GO
/****** Object:  Database [KutuphaneYonetimDb]    Script Date: 13.04.2026 02:59:23 ******/
CREATE DATABASE [KutuphaneYonetimDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'KutuphaneYonetimDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS01\MSSQL\DATA\KutuphaneYonetimDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'KutuphaneYonetimDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS01\MSSQL\DATA\KutuphaneYonetimDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [KutuphaneYonetimDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [KutuphaneYonetimDb]
GO
/****** Object:  Table [dbo].[Kitaplar]    Script Date: 13.04.2026 02:59:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kitaplar](
	[KitapID] [int] IDENTITY(1,1) NOT NULL,
	[ISBN] [nvarchar](50) NOT NULL,
	[KitapAdi] [nvarchar](200) NOT NULL,
	[Yazar] [nvarchar](100) NOT NULL,
	[Yayinevi] [nvarchar](100) NULL,
	[SayfaSayisi] [int] NULL,
	[Kategori] [nvarchar](50) NULL,
	[Durum] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[KitapID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OduncKitaplar]    Script Date: 13.04.2026 02:59:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OduncKitaplar](
	[IslemID] [int] IDENTITY(1,1) NOT NULL,
	[KitapID] [int] NOT NULL,
	[UyeID] [int] NOT NULL,
	[OduncTarihi] [datetime] NULL,
	[TeslimTarihi] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IslemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Uyeler]    Script Date: 13.04.2026 02:59:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Uyeler](
	[UyeID] [int] IDENTITY(1,1) NOT NULL,
	[TCNo] [nvarchar](11) NOT NULL,
	[AdSoyad] [nvarchar](100) NOT NULL,
	[Telefon] [nvarchar](15) NULL,
	[Eposta] [nvarchar](100) NULL,
	[KayitTarihi] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UyeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Kitaplar] ON 

INSERT [dbo].[Kitaplar] ([KitapID], [ISBN], [KitapAdi], [Yazar], [Yayinevi], [SayfaSayisi], [Kategori], [Durum]) VALUES (1, N'1', N'Don Kişot', N'Ali Kaan', N'Çağlayan', 500, N'- Roman', N'Mevcut')
INSERT [dbo].[Kitaplar] ([KitapID], [ISBN], [KitapAdi], [Yazar], [Yayinevi], [SayfaSayisi], [Kategori], [Durum]) VALUES (5, N'1', N'Don Kilot', N'Ali Kaan', N'Çağlayan', 500, N'- Roman', N'Ödünç')
INSERT [dbo].[Kitaplar] ([KitapID], [ISBN], [KitapAdi], [Yazar], [Yayinevi], [SayfaSayisi], [Kategori], [Durum]) VALUES (6, N'1', N'Nutuk', N'Mustafa Kemal Atatürk', N'ATATÜRK', 600, N'- Tarih', N'Ödünç')
SET IDENTITY_INSERT [dbo].[Kitaplar] OFF
GO
SET IDENTITY_INSERT [dbo].[OduncKitaplar] ON 

INSERT [dbo].[OduncKitaplar] ([IslemID], [KitapID], [UyeID], [OduncTarihi], [TeslimTarihi]) VALUES (1, 1, 3, CAST(N'2026-02-13T04:17:48.300' AS DateTime), NULL)
INSERT [dbo].[OduncKitaplar] ([IslemID], [KitapID], [UyeID], [OduncTarihi], [TeslimTarihi]) VALUES (2, 8, 3, CAST(N'2026-02-13T04:30:45.323' AS DateTime), CAST(N'2026-02-13T04:31:22.217' AS DateTime))
SET IDENTITY_INSERT [dbo].[OduncKitaplar] OFF
GO
SET IDENTITY_INSERT [dbo].[Uyeler] ON 

INSERT [dbo].[Uyeler] ([UyeID], [TCNo], [AdSoyad], [Telefon], [Eposta], [KayitTarihi]) VALUES (3, N'11111111111', N'Ali Kaan Çağlayan', N'22222222222', N'Alikaann2006@outlook.com', CAST(N'2026-02-11T03:03:09.627' AS DateTime))
INSERT [dbo].[Uyeler] ([UyeID], [TCNo], [AdSoyad], [Telefon], [Eposta], [KayitTarihi]) VALUES (5, N'22222222222', N'Arda Çağlayan', N'arda', N'', CAST(N'2026-02-13T03:05:27.160' AS DateTime))
SET IDENTITY_INSERT [dbo].[Uyeler] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Uyeler__B770B754460DE436]    Script Date: 13.04.2026 02:59:23 ******/
ALTER TABLE [dbo].[Uyeler] ADD UNIQUE NONCLUSTERED 
(
	[TCNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Kitaplar] ADD  DEFAULT ('Mevcut') FOR [Durum]
GO
ALTER TABLE [dbo].[OduncKitaplar] ADD  DEFAULT (getdate()) FOR [OduncTarihi]
GO
ALTER TABLE [dbo].[Uyeler] ADD  DEFAULT (getdate()) FOR [KayitTarihi]
GO
ALTER TABLE [dbo].[OduncKitaplar]  WITH CHECK ADD FOREIGN KEY([KitapID])
REFERENCES [dbo].[Kitaplar] ([KitapID])
GO
ALTER TABLE [dbo].[OduncKitaplar]  WITH CHECK ADD FOREIGN KEY([UyeID])
REFERENCES [dbo].[Uyeler] ([UyeID])
GO
USE [master]
GO
